@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* variables globales */
:root {
    --yellow: #FFD158;
    --black: #1B1B1B;
    --gray: #7A7A7A;
    --bg-color: #E5E5E5; 
}

body {
    background-color: var(--bg-color) !important;
}

h1, h5{
    font-family: "Anton", sans-serif !important;
}

/* Style général pour le header*/

.hero {
    background-image: url('../assets/images/background-header.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 30rem;
}

.hero__logo {
    width: 15rem !important;
}

.hero__title {
    color: var(--yellow);
    text-align: center;
    align-self: center;
}

.hero__search {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    align-self: center;
}

.hero__search input {
    padding-left: 2rem;
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
}

.hero__search button {
    border: 0;
    width: 60px;
    height: 60px;
    background-color: var(--black);
    color: #fff;
    font-size: 2rem;
}

/* Style général pour les cartes*/

.recipes-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 2rem;
} 

.card {
    width: 25rem;
    margin: auto;
    min-height: 750px;
}

.card img {
    object-fit: cover;
    height: 250px;
}

.card h5 {
    color: black;
}

.card h6, .quantity {
    color: var(--gray);
}

.card__time {
    background-color: #FFD15B;
    border-radius: 2rem;
    position: absolute;
    right: 0;
    padding: 0.5rem 1rem;
    margin: 1rem;
}

.card__ingredients-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card__description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}